<nav class="navbar is-fixed-top">

  <div class="container">
    <!-- Brand -->
    <div class="navbar-brand">
      <a class="navbar-item" href="./">
        <h1 class="is-size-5 has-text-weight-bold">Git Unfollower</h1>
      </a>
    </div>

    <div class="navbar-menu">

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-align-items-center">
            <p class="control">
              <a class="button is-white is-medium" data-social-network="Github" data-social-action="go-to" data-social-target="https://github.com/" target="_blank" href="https://github.com/fernandorpm/git-unfollower">
                <span class="icon">
                  <i class="ri-github-fill ri-lg"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>